@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
    background-color: #1F2937;
}
.header-info {
    color: #F9FAF8;
    display: flex;
    max-width: 1024px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: baseline;
    padding: 16px;

}
.header-logo {
    font-size: 24px;
    font-weight: 800;
}
.header-links {
    display: flex;
    gap: 16px;
}
.header-links a {
    text-decoration: none;
    font-size: 18px;   
    color: #E5E7EB;
}
.awesome-base {
    background-color: #1F2937;
}
.awesome {
    display: flex;
    max-width: 1024px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    padding-top: 60x;
    padding-bottom: 60px;
    gap: 48px;
}
.awesome-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    gap: 8px;
}
.awesome-header {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
.awesome-text {
    font-size: 18px;   
    color: #E5E7EB;
}
.awesome-button a {
    text-decoration: none;
    font-size: 18px;   
    color: #E5E7EB;
    background-color: #3882F6;
    display: inline-block;
    padding: 8px 36px;
    border: none;
    border-radius: 12px;
}
.awesome-img {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.awesome-img img {
    display: block;
    max-width: 320px;
}

.random {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 16px;
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 36px;
}
.random-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}
.random-body {
    display: flex;
    justify-content: space-evenly;
}
.random-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    text-align: center;
}
.random-img {
    display: inline-block;
    width: 120px;
    height: 120px;
    border: 3px solid #3882F6;
    border-radius: 12px;
}
.quote-base {
    background-color: #E5E7EB;
}
.quote {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 32px;
    padding-top: 60px;
    padding-bottom: 60px;
    font-family: italic; 
}
.quote-text {
    font-size: 36px;
    color: #1F2937;
}
.thor {
    font-size: 18px;
    font-weight: 800;
    align-self: flex-end;
}
.action {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
    max-width: 1024px;
    padding: 48px;
    margin: 60px auto;
    border-radius: 12px;
}
.action-header {
    font-size: 24px;
    font-weight: 800;
}
.action-button {
    display: inline-block;
    padding: 8px 36px;
    border: 3px solid #E5E7EB;
    border-radius: 12px;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    min-height: 60px;
}